.container-fluid {
    margin: 2em;
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#textArea {
    width: 100%;
    height: 200px;
    margin-top: 1em;
    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
    appearance: none;

}

#textArea:focus {
    border: none;
    outline: none;
    box-shadow: none;

}


